.container-fluid{
  padding-top: 45px;
}
.carousel-root {
  height: 100%;
}
.carousel {
  height: 100%;
  background: white;
}
video{
  max-width: 25%;
  height: auto;
  min-width: 350px;
}

.carousel .slide {
  background-color: white;
}

